/* ----**** Image *****---- */

.header-logo__image {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

img.header-menu-image__image {
    width: 40px;
}

img.carousel-containar-item-icons__icon {
    width: 20px;
    height: 20px;
}

img.login-apps-image {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
