/* ----**** Pgraphs *****---- */

p.carousel-container-item__pgraph {
    margin: 0;
    color: $color-blanco;
    font-size: 12px;
}

p.login-container__pgraph-register {
    color: $color-blanco;
    font-size: 14px;
}