/* ----**** Section *****---- */

section.section-buscador {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

section.carousel {
    width: 100vw;
    overflow: scroll;
    padding-left: 30px;
    position: relative;
}

/* section login */ 

section.login {
    background: linear-gradient($color-secundario, $color-terciario);
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    padding-top: 20px;
}

section.carousel {
    overflow: hidden;
}

/* 404 not found */

section.not-found {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-blanco;
    background: linear-gradient($color-secundario, $color-principal);
}