/* ----**** Lib *****---- */
/* ----**** Mixins *****---- */
/* ----**** Layout *****---- */
html, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----**** Body *****---- */
body {
  margin: 0;
  background-color: #AB88FF;
  font-family: "Mulish", sans-serif;
}

/* ----**** Main *****---- */
/* ----**** Header *****---- */
header.header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ----**** Section *****---- */
/* ----**** Div *****---- */
/*header*/
div.header-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

div.header-menu-image {
  margin-right: 10px;
}

/* ----**** Footer *****---- */
/* ----**** base *****---- */
/* ----**** Title *****---- */
/* ----**** Nav *****---- */
/* ----**** List *****---- */
details.header-menu__desplegable {
  margin-left: -14px;
}

summary.header-menu__desplegable-summary {
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  color: #FFF;
}

ul.header-menu__desplegable-lista {
  /*display: none;*/
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
  margin-left: -55px;
  padding-top: 7px;
}

li.header-menu__desplegable-lista-item:nth-of-type(1) {
  margin-bottom: 5px;
}

a.header-menu__desplegable-lista-link {
  text-decoration: none;
  color: #FFF;
}

a.header-menu__desplegable-lista-link:hover {
  text-decoration: underline;
}

/* ----**** Pgraphs *****---- */
/* ----**** Button *****---- */
/* ----**** Form *****---- */
/* ----**** Image *****---- */
.header-logo__image {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

img.header-menu-image__image {
  width: 40px;
}