@charset "UTF-8";
/* ----**** Lib *****---- */
/* ----**** Mixins *****---- */
/* ----**** Layout *****---- */
html, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----**** Body *****---- */
body {
  margin: 0;
  background-color: #8F57FD;
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}

/* ----**** Main *****---- */
/* ----**** Header *****---- */
header.header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header-login {
  background-color: #21c08B;
}

/* ----**** Section *****---- */
section.section-buscador {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

section.carousel {
  width: 100vw;
  overflow: scroll;
  padding-left: 30px;
  position: relative;
}

/* section login */
section.login {
  background: -webkit-gradient(linear, left top, left bottom, from(#21c08B), to(#AB88FF));
  background: linear-gradient(#21c08B, #AB88FF);
  background-repeat: no-repeat;
  height: calc(100vh - 100px);
  padding-top: 20px;
}

section.carousel {
  overflow: hidden;
}

/* 404 not found */
section.not-found {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#21c08B), to(#8F57FD));
  background: linear-gradient(#21c08B, #8F57FD);
}

/* ----**** Div *****---- */
/*header*/
div.header-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

div.header-menu-image {
  margin-right: 10px;
}

div.carousel-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  margin: 50px 0;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
}

div.carousel-container-item {
  min-width: 210px;
  height: 260px;
  border-radius: 20px;
  margin: 0 5px;
  margin-top: 70px;
  padding: 0 0 15px 15px;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
div.carousel-container-item:hover ~ div.carousel-container-item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

div.carousel-container:hover div.carousel-container-item {
  opacity: 0.3;
}

div.carousel-container:hover div.carousel-container-item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}

div.carousel-item1 {
  background-image: url(/assets/images/background-card1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel-item2 {
  background-image: url(/assets/images/background-card2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel-item3 {
  background-image: url(/assets/images/background-card3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel-item4 {
  background-image: url(/assets/images/background-card4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel-item5 {
  background-image: url(/assets/images/background-card5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel-item6 {
  background-image: url(/assets/images/background-card6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel-item7 {
  background-image: url(/assets/images/background-card7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel-container-item__icons {
  display: none;
}

/* Página login */
div.login-container {
  max-width: 400px;
  margin: 0 auto;
  height: 80vh;
  border: 2px solid #FFF;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 60px;
  background-color: rgba(255, 255, 255, 0.1);
}

div.login-container__options {
  margin-bottom: 40px;
}

div.login-apps-google {
  margin-bottom: 15px;
}

div.login-apps-twitter {
  margin-bottom: 40px;
}

/* ----**** Footer *****---- */
footer.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #AB88FF;
  padding-bottom: 20px;
  padding-left: 30px;
}

footer.footer-principal,
footer.footer-404 {
  background: transparent;
}

/* ----**** base *****---- */
/* ----**** Title *****---- */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2.section-buscador__title {
  font-family: "Mulish", sans-serif;
  color: #FFF;
  margin-bottom: 20px;
}

h3.carousel__title {
  color: #FFF;
  margin-left: 7px;
}

h2.login-container__title {
  color: #FFF;
  margin-bottom: 70px;
}

h1.not-found__title {
  font-size: 100px;
  margin-top: -50px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
/* ----**** Nav *****---- */
/* ----**** List *****---- */
details.header-menu__desplegable {
  margin-left: -14px;
}

summary.header-menu__desplegable-summary {
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  color: #FFF;
}

ul.header-menu__desplegable-lista {
  /*display: none;*/
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100px;
  text-align: right;
  margin-left: -55px;
  padding-top: 7px;
}

li.header-menu__desplegable-lista-item:nth-of-type(1) {
  margin-bottom: 5px;
}

a.header-menu__desplegable-lista-link {
  text-decoration: none;
  color: #FFF;
}

a.header-menu__desplegable-lista-link:hover {
  text-decoration: underline;
}

/* ----**** Anchor *****---- */
a.login-container__options--link {
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}
a.login-container__options--link:hover {
  text-decoration: underline;
}

a.login-apps__link {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
a.login-apps__link:hover {
  text-decoration: underline;
}

a.login-container__pgraph-register--link {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
a.login-container__pgraph-register--link:hover {
  text-decoration: underline;
}

a.footer-links {
  color: #FFF;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
}
a.footer-links:hover {
  text-decoration: underline;
}

/* página registro */
a.page-register-link {
  text-align: center;
  margin-top: 50px;
}

/* ----**** Pgraphs *****---- */
p.carousel-container-item__pgraph {
  margin: 0;
  color: #FFF;
  font-size: 12px;
}

p.login-container__pgraph-register {
  color: #FFF;
  font-size: 14px;
}

/* ----**** Button *****---- */
button.login-container__form--button {
  padding: 15px 0;
  width: 100%;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  letter-spacing: 1px;
}

/* ----**** Form *****---- */
input.section-buscador__input {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  width: 70vw;
  margin: 0 auto;
  border: 2px solid #FFF;
  border-radius: 50px;
  outline: none;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

input.section-buscador__input::-webkit-input-placeholder {
  color: #FFF;
}

input.section-buscador__input::-moz-placeholder {
  color: #FFF;
}

input.section-buscador__input:-ms-input-placeholder {
  color: #FFF;
}

input.section-buscador__input::-ms-input-placeholder {
  color: #FFF;
}

input.section-buscador__input::placeholder {
  color: #FFF;
}

input.login-container__form--input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #FFF;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding-bottom: 15px;
  padding-left: 15px;
}
input.login-container__form--input::-webkit-input-placeholder {
  color: #FFF;
  font-size: 16px;
}
input.login-container__form--input::-moz-placeholder {
  color: #FFF;
  font-size: 16px;
}
input.login-container__form--input:-ms-input-placeholder {
  color: #FFF;
  font-size: 16px;
}
input.login-container__form--input::-ms-input-placeholder {
  color: #FFF;
  font-size: 16px;
}
input.login-container__form--input::placeholder {
  color: #FFF;
  font-size: 16px;
}

label.login-container__options--label {
  font-size: 14px;
  color: #FFF;
  margin-right: 25px;
}

/* ----**** Image *****---- */
.header-logo__image {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

img.header-menu-image__image {
  width: 40px;
}

img.carousel-containar-item-icons__icon {
  width: 20px;
  height: 20px;
}

img.login-apps-image {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

/* ----**** Queries *****---- */
@media screen and (max-width: 600px) {
  section.login {
    padding: 0;
    height: 90vh;
  }

  div.login-container {
    background-color: transparent;
    border: none;
    width: 100vw;
  }

  footer.footer {
    padding: 0;
  }

  footer.footer a {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
}