/* ----**** Lib *****---- */
/* ----**** Variables *****---- */
/* ----**** Mixins *****---- */
/* ----**** Layout *****---- */
html, * {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ----**** Body *****---- */
body {
  margin: 0;
}

/* ----**** Main *****---- */
/* ----**** Header *****---- */
/* ----**** Section *****---- */
/* ----**** Div *****---- */
/* ----**** Footer *****---- */
/* ----**** base *****---- */
/* ----**** Title *****---- */
/* ----**** Nav *****---- */
/* ----**** List *****---- */
/* ----**** Pgraphs *****---- */
/* ----**** Button *****---- */
/* ----**** Form *****---- */
/* ----**** Image *****---- */